<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icss.dao.batis.IUserMapper">

	
	<!-- 登录 -->
	<select id="login" resultType="TUser">
		select * from tuser where uname=#{uname} and pwd=#{pwd}
	</select>
	<!-- 添加订单 -->
	<insert id= "addOrder" parameterType="TOrder">
		insert into torder values(#{dno},#{uname},#{allprice},#{btime})
	</insert>
	<!-- 添加订单明细 -->
	<insert id="addOrderDetail" parameterType="TOrderDetail" useGeneratedKeys="true">
		insert into torderdetail(dno,isbn,bcount,bprice) value(#{dno},#{isbn},#{bcount},#{bprice})
	</insert>
	<!-- 更新用户账户余额 -->
	 <update id="updateUserAccout">
     	update tuser set account=account+#{money} where uname=#{uname}
  	</update>
  	<!-- 查询所有用户的购买信息 -->
  	<select id="getBuyinfoAllRows" resultType="int">
	   select count(*) from ( (
	      select u.uname,b.bname,d.bprice,b.press,b.author,o.btime,o.dno,d.bcount
	       from tbook b,tuser u,torder o,torderdetail d  where u.uname = o.uname
	       and b.isbn = d.isbn  and o.dno = d.dno
	       <if test="uname != null and uname != ''">
			 and u.uname like CONCAT(CONCAT('%', #{uname}),'%')  
		   </if> 
	       <if test="beginDate != null">
	          and  o.btime >= #{beginDate}
	       </if>
	       <if test="endDate != null">	           
	           <![CDATA[ and  o.btime <= #{endDate}   ]]>
	       </if>	    
	    ) allrow)
	</select>
	
	<select id="getUserBuyinfo" resultType="com.icss.dto.Buyinfo" >
		
	       select u.uname,b.bname,d.bprice,b.press, b.author,o.btime,o.dno,d.bcount
	       from tbook b,tuser u,torder o,torderdetail d  where u.uname = o.uname
	       and b.isbn = d.isbn  and o.dno = d.dno
	       <if test="uname != null">
			  and u.uname like CONCAT(CONCAT('%', #{uname}),'%')  
		   </if> 
	       <if test="beginDate != null">
	          and  o.btime >= #{beginDate}
	       </if>
	       <if test="endDate != null">	           
	           <![CDATA[ and  o.btime <= #{endDate}   ]]>
	       </if>	    
	     limit #{iStart} , #{iRows}
	</select>
</mapper>
